<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/detailchat.css"></link>
<div class="container">
        <!-- container to show all the users recent message -->
        <div class="conversation-wrap col-lg-3">
            <div class="media conversation">
                <div class="media-body">
                    <h5 class="media-heading">Anisha Desai</h5>
                    <small>Hello</small>
                </div>
            </div>
            <div class="media conversation">
                <div class="media-body">
                    <h5 class="media-heading">Shereen Lala</h5>
                    <small>I have a question about..</small>
                </div>
            </div>
        </div>

        <div class="message-wrap col-lg-8">
            <div class="msg-wrap">
                <!-- container template to display that users chat -->
                <div class="media msg ">
                    <a class="pull-left" href="#">
                    </a>
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">Anisha Desai</h5>
                        <small class="col-lg-10">Location
                            2520 College Ave. 
                            Berkeley, California USA
                            Phone XXX-XXX-XXXXX
                            Email anishad@berkeley.edu</small>
                    </div>
                </div>
            </div>
            <!-- Place holder to enter message -->
            <div class="send-wrap ">
                <textarea class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>
            </div>
            <div class="btn-panel">
                <a href="" class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button"><i class="fa fa-plus"></i> Send Message</a>
            </div>
        </div>
    </div>
</div>